<div class="col-xs-2 player-{{"active" if player["state"]=="participating" else "folded"}}">
  <i class="material-icons md-48
    {{"inactive" if player["state"]=="folded" else ""}} 
    {{"color-ai" if len(player["uuid"]) <= 2 else "color-human"}}">
    {{ 'android' if len(player["uuid"]) <= 2 else 'face' }}
  </i>
  <div>
    <span class="round-state-table-text player-name">{{player["name"]}}</span></br>
    <span class="round-state-table-text player-stack">${{player["stack"]}}</span></br>
    {% if round_state["dealer_btn"]==idx %}
      <span class="label label-warning">D</span>
    {% end %}
    <!--
    {% if round_state["next_player"]==idx %}
      <span class="label label-default">Turn</span>
    {% end %}
    -->
  </div>
</div>
