<div id="round_state">
  <h3>Game Information</h3>
  <div id="basic_info_bar">
    <span id="small_blind_amount">small blind : {{ round_state['small_blind_amount'] }}</span>
    <span id="round_count">round : {{ round_state['round_count'] }}</span>
    <span id="dealer_btn">delaer btn : {{ round_state['dealer_btn'] }}</span>
    <span id="street">street : {{ round_state['street'] }}</span>
    <span id="next_player">next player :
      {{ round_state['seats'][round_state['next_player']]['name'] if round_state['next_player'] != 'not_found' else "None" }}
    </span>
  </div>
  <div id="community_card">
    <h3>Community Card</h3>
    {% for card in round_state['community_card'] %}
      <span class="card">{{ card }}</span>
    {% end %}
  </div>
  <h3>Pot</h3>
  <div id="pot">
    <span>pot : {{round_state['pot']}} </span>
  </div>
  <h3>Players Information</h3>
  <div id="seats">
    {% for player in round_state['seats'] %}
      {% include "player_game.html" %}
    {% end %}
  </div>
</div>
